:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #afaeae;
    --navbar-height:34px;
    --header-height:120px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height))
}

* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
/* Responsive */
@media (min-width: 576px) {
    .grid {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .grid {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .grid {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .grid {
      max-width: 1300px;
    }
  }

.grid {
    /* width: 90%; */
    /* max-width: 100%; */
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin-right: -5px;
    margin-left: -5px;
}
.grid__column-2{
    padding-right: 5px;
    padding-left: 5px;
    width: 16.667%;
}
.grid__column-2-5{
    padding-right: 5px;
    padding-left: 5px;
    width: 20%;
}
.grid__column-10{
    padding-right: 5px;
    padding-left: 5px;
    width: 83.333%;
}
/* Modal */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        opacity: 1;
        transform: scale(var(--growth-to));
    }
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.06s;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.modal__body {
    --growth-from:80%;
    --growth-to:100%;
    background-color: var(--white-color);
    width: 500px;
    margin: auto;
    z-index: 2;
    border-radius: 5px;
    animation: growth linear 0.06s;
   
}
.auth-form__login,.auth-form__register{
    display: none;
}
/* Button style */
.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.3rem;
    line-height: 36px;
    padding: 0 8px;

}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn.btn-primary {
    color: var(--white-color);
    background-color: var(--primary-color);

}

.btn.btn-disibaled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.btn--with-icon {
    display: flex;
    align-items: center;
}

/* Selection */
.select-input{
    height: 36px;
    padding: 0 12px;
    min-width:200px;
    border-radius: 3px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input-label{
    font-size: 1.4rem;
}
.select-input-icon{

}
.select-input__list{
    position:absolute;
    left: 0;
    right: 0;
    top: 70%;
    list-style: none;
    background-color: var(--white-color);
    padding-left: 9px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}
.select-input__item:hover .select-input__item-link{
    color: var(--primary-color);
}
.select-input__item-link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 6px 0;
}
/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
.pagination-item{
    margin: 0 10px;
}
.pagination-item__link{
    text-decoration: none;
    font-size: 1.6rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    
}
.pagination-item--active{
    
    background-color: var(--primary-color);
    border-radius: 5px;
}
.pagination-item--active a{
    color: var(--white-color);
}
.pagination-item__link:hover{
    color: var(--primary-color);
}